<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.1.35" targetFramework="net481" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net481" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net481" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Private.DataContractSerialization" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net481" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net481" />
  <package id="UI.for.WinForms.PivotGrid" version="2024.3.806" targetFramework="net481" />
  <package id="UI.for.WinForms.Scheduler" version="2024.3.806" targetFramework="net481" />
</packages>